.divinscription {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputLabel {
    width: 100%;
}

.lmj-logo {
    width: 30%;
}

input {
    padding: 15px;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
}

.icon-label {
    display: inline-block;
    width: 40px;
    text-align: center;
    color: white;
}

button {
    background-color: #5E8CFF;
    border: none;
    border-radius: 20px;
    padding: 15px;
}

button:hover {
    background-color: #111B2E;
    color: #5E8CFF;
    border: solid 3px #5E8CFF;
}

.textfield {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    color: aqua;
}