h1 {
    color: #5E8CFF;
    font-size: 60px;
    font-weight: normal;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.lmj-logo {
    width: 10%;
}

input {
    padding: 15px;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    width: 20%;
}

button {
    background-color: #5E8CFF;
    border: none;
    border-radius: 20px;
    width: 15%;
    padding: 15px;
}

button:hover {
    background-color: #111B2E;
    color: #5E8CFF;
    border: solid 3px #5E8CFF;
}

.textfield {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    color: aqua;
}