.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3%;
}

.divbutton {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

h1 {
    color: #5E8CFF;
    font-weight: 500;
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.lme-logo {
    width: 10%;
}

.paraEworld {
    color: white;
    margin: 80px 300px;
    text-align: center;
    font-size: 25px;
}

.dispoMobil {
    color: #9CECFF;
}

@media only screen and (max-width: 768px) {
    .container {
        margin-top: 10%;
        text-align: center;
    }

    .lme-logo {
        width: 20%;
    }

    h1 {
        font-size: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .paraEworld {
        margin: 40px 20px;
        font-size: 20px;
    }

    button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeLarge.MuiButton-outlinedSizeLarge.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeLarge.MuiButton-outlinedSizeLarge.css-n6roap-MuiButtonBase-root-MuiButton-root {
        margin: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .lme-logo {
        width: 30%;
    }

    h1 {
        font-size: 2rem;
    }

    .paraEworld {
        margin: 20px 10px;
        font-size: 18px;
    }

    .divbutton {
        flex-direction: column;
        align-items: stretch;
    }

}