.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.divbutton {
    display: flex;
    flex-direction: row;
    width: 100%;
}

h1 {
    color: #5E8CFF;
    font-weight: 500;
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.lme-logo {
    width: 10%;
}

.buttonhome {
    background-color: #5E8CFF;
    border: none;
    border-radius: 20px;
    width: 15%;
    padding: 15px;
    text-decoration: none;
    color: #111B2E;
    text-align: center;
    margin-left: 21%;
    margin-top: 3%;
}

.buttonhome:hover {
    background-color: #111B2E;
    color: #5E8CFF;
    border: solid 3px #5E8CFF;
}

.paraEworld {
    color: white;
    margin: 80px 300px;
    text-align: center;
    font-size: 25px;
}

.dispoMobil {
    color: #9CECFF;
}