.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.divbutton {
    display: flex;
    flex-direction: row;
    width: 100%;
}

h1 {
    color: #5E8CFF;
    font-weight: 500;
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.lme-logo {
    width: 10%;
}

.paraEworld {
    color: white;
    margin: 80px 300px;
    text-align: center;
    font-size: 25px;
}

.dispoMobil {
    color: #9CECFF;
}