/* List Tasks */

.divHeader {
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divHeader img {
    width: 15%;
}

.h4 {
    text-transform: uppercase;
    font-weight: 900;
}

.titleSup {
    display: flex;
    justify-content: space-between;
}

.decription {
    margin-bottom: 30px !important;
}

.cardContent {
    background-color: #9CECFF !important;
}

.buttonsupp{
    color: #9CECFF;
    text-decoration: none;
    background-color: #111B2E;
    padding: 10px;
    border-radius: 10px;
}

